.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 10px;

  &--footer {
    width: 1139px;
  }

  @media (max-width: $desktop-width) {
    width: 728px;
    margin: 0;
    padding: 0 20px;

    &--footer {
      margin: 0 auto;
    }
  }

  @media (max-width: $tablet-width) {
    width: 280px;
    padding: 0 20px;
  }
}
