//Colors
$mostly-black:  #141517;
$dark-grey: #48494d;
$light-grey: #fbf8f8;
$grayis-blue: #d7d9df;
$red: #fe7865;
$active-red: #e21e01;
$white: #ffffff;

//Viewports

$desktop-width: 1023px;
$tablet-width: 767px;
